POSTGRES_USER=sales_ts_prediction
POSTGRES_PASSWORD=sales_ts_prediction
POSTGRES_DB=sales_ts_prediction
POSTGRES_HOST=postgres

REDIS_PASSWORD=sales_ts_prediction
REDIS_HOST=redis

MINIO_ROOT_USER=sales_ts_prediction
MINIO_ROOT_PASSWORD=sales_ts_prediction
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=salecast

API_URL=http://api:8000
